
.container{
    background-color: #092e20;
}

.wrapper{
    padding: 30px;
    
}

.todoCard p{
    margin:0px
}

.completeToDo p{
    margin: 0px;
}

.container{
    box-shadow: 10px 10px #40bedd;
}